<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/mainHead::mainHead"></head>
    <body>
        <section th:replace="layout/header::header"></section>
        
        <section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
            <div class="container align-center">
                <div class="row justify-content-md-center" >
                    <div class="mbr-black col-md-10" style="background-color: rgba(255, 255, 255, 0.6); margin: 8px; border-radius: 8px; padding: 2em;">
                        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                            명언 추가
                        </h1>
                        
                        <table style="margin: 1em auto;">
                            <tr>
                                <th>명언</th>
                                <td>
                                    <textarea id="content" style="resize: none; width: 100%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>말한 사람</th>
                                <td>
                                    <input id="author" type="text">
                                </td>
                            </tr>
                        </table>
                        <div style="text-align: left; font-size: 0.9em; font-weight: bold;">
                                ※ 추가되는 명언은 향후 랜덤으로 선택되는 오늘의 명언 중 하나에 포함됩니다.
                        </div>
                        <div class="mbr-section-btn">
                            <a class="btn btn-md btn-primary display-4" href="javascript:void(0);" onclick="saveWs();">
                                저장
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
                <a href="#next">
                    <i class="mbri-down mbr-iconfont"></i>
                </a>
            </div>
        </section>

        <section th:replace="layout/footer::footer"></section>
        <section th:replace="layout/jsImport::jsImport"></section>
        
        <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
            var apiBaseUri = /*[[ ${@environment.getProperty('custom.api-base-uri')} ]]*/;
            var userIdx = /*[[ ${userIdx} ]]*/;
            
            function saveWs() {
            	var content = document.getElementById('content').value;
            	var author = document.getElementById('author').value;
            	
            	var data = {
            		apiUrl : apiBaseUri + '/ws-service/v1.0/users/' + userIdx + '/wses',
            		ownerIdx : userIdx,
           			content : content,
                    author : author,
                    type : 0 // 일단 default로 0(SELF_DEV)로 설정	
            	}
            	
            	$.ajax({
                    url: '/api',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType : "application/json; charset=UTF-8",
                    success: function() {
                    	alert('저장되었습니다.');
                    	window.location.href = '/';
                    }
                });
            }
        /* ]]> */
        </script>
    </body>
</html>