<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/mainHead::mainHead"></head>
    <body>
        <section th:replace="layout/header::header"></section>
		
        <section class="mbr-fullscreen" id="header2-1">
		    <div class="container align-center">
		        <div class="row justify-content-md-center">
		            <div class="mbr-black col-md-10 mainDiv">
		                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2" style="margin-top: 1rem;">
		                    내가 추가한 명언
		                </h1>
		                
		                <p id="content" style="text-align: left; font-weight: bold;" class="mbr-text pb-3 mbr-fonts-style display-5"></p>
		                <p id="author" style="text-align: right; font-weight: bold;"></p>
		                
		                <!-- <div class="mbr-section-btn">
		                    <a class="btn btn-md btn-secondary display-4" href="/">LEARN MORE</a>
		                    <a class="btn btn-md btn-white-outline display-4" href="/">LIVE DEMO</a>
		                </div> -->
		            </div>
		        </div>
		    </div>
		    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
		        <a href="#next">
		            <i class="mbri-down mbr-iconfont"></i>
		        </a>
		    </div>
		</section>

        <section th:replace="layout/footer::footer"></section>
        <section th:replace="layout/jsImport::jsImport"></section>
        
        <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        	var apiUrl = /*[[ ${param.apiUrl} ]]*/;
        
        	window.onload = function() {
        		commonJS.getRequestAtApi(apiUrl[0], setWsPsl);
        	}
        	
        	function setWsPsl(result) {
        		$('#content').text(result.content);
        		$('#author').text('- ' + result.author);
        	}
        /* ]]> */
        </script>
    </body>
</html>